# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:
- DS Languages
- DS Libraries
- DS Tools
- Arithmetic Examples

1. Python
2. R
3. SQL
4. Java

## Data Science Libraries

1. NumPy
2. Scala
3. Pandas
4. Matplotlib

| Data Science Tools|
|-------------------|
| Jupyter Lab|
| Jupyter Notebook|
| Google Colab|

### Below are a few examples of evaluating arithmetic expressions in Python

_This a simple arithmetic expression to mutiply then add integers_

In [1]:
(3*4)+5

17

_This will convert 200 minutes to hours by diving by 60_

In [13]:
200 // 60

3

## Author
Karunesh